*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body>div{
    background: lightgray;
    display:flex;
}
@page {
    size: A4;
    margin: 0;
  }
  
  @media print {
    body {
        size:A4;

    }
  }